<nav class="navbar navbar-expand-xl navbar-dark bg-dark ;navbar sticky-top navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">My Blogs</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDark"
      aria-controls="navbarDark" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse show" id="navbarDark">
      <ul class="navbar-nav me-auto mb-2 mb-xl-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/dashboard">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/member-list">Member List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/photos">Photos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About Us</a>
        </li>

      </ul>
      <button type="button" class="btn btn-info" routerLink="/log-in">Log Out</button>
    </div>
  </div>
</nav>
<div class="container">
  <div class="bg-success text-white, text-center">
    <h1>You are welcome !</h1>
  </div>
  <div class="bg-primary text-white">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid nemo, dolores vero quasi ullam quaerat aperiam
      perferendis neque sit quo rem vel nulla laudantium quam quisquam quia rerum eligendi id similique esse
      dolores deserunt quasi rerum voluptate eius id minima aliquid, reprehenderit eaque. Ab eligendi nulla sapiente
      tempora iste sit maxime architecto omnis eius, quasi perferendis rem debitis iusto quaerat atque qui iure
      laboriosam ipsam in illo tempore nihil? Neque blanditiis hic distinctio, aut molestias saepe exercitationem
      voluptatibus molestiae, iure voluptates quasi doloribus natus ab culpa ut, nostrum eaque tenetur at? Modi enim
      voluptate autem, beatae commodi eveniet est ratione nulla distinctio sequi. Dolores, neque laboriosam tenetur,
      laborum molestiae vel nihil quae, tempora nobis assumenda ipsam. Provident, sit quis mollitia reprehenderit cum
      recusandae fugit illo, expedita, facilis necessitatibus excepturi eligendi. Harum incidunt nam, obcaecati eius,
      officia voluptatibus repudiandae similique, sed iste magni cupiditate laboriosam. Quia reiciendis error
      exercitationem, et delectus est iure quam placeat inventore, fugit adipisci voluptatem nemo totam! Ullam, saepe
      accusamus! Provident, officia tempora corporis pariatur minima nam quae in exercitationem iste optio omnis saepe,
      totam quod dolorem error obcaecati, sunt nulla consequatur. Voluptatibus iure quo inventore numquam sit in dolore
      ullam nam laborum magni, illum minima dolorem vero. Reiciendis accusamus nihil officia nesciunt excepturi tenetur
      assumenda, iure obcaecati quasi! Et quibusdam soluta sed dolorum facilis inventore porro repellat natus voluptates
      eos dolor quisquam amet provident assumenda eligendi tempore magni cupiditate nemo esse rem, quod, nam incidunt?
      Tempore odit sit quae unde excepturi. Deserunt laudantium culpa, possimus perferendis est beatae eaque consectetur
      numquam hic exercitationem laborum repudiandae placeat doloremque, minima voluptate. Accusantium beatae possimus
      consectetur eaque dolorum necessitattus, magni ipsa tempora aut, dolorem, incidunt repellat quasi fuga quaerat ex
      non voluptatum aperiam dicta placeat eius exercitationem! Iure labore enim eligendi, beatae amet distinctio,
      fugiat quae, tenetur error culpa in velit earum temporibus illo corporis repellendus incidunt delectus quidem
      tempora ea aliquid. Maiores earum illo corrupti tenetur cum cupiditate doloribus ut adipisci saepe magni i,
      placeat, ad,
      exercitationem at ea soluta quia odio corporis atque hic error. Voluptatem illum quos at fuga accusamus dolor in
      totam quo sequi!</p>
  </div>
</div>